
body {
    background-image: url "https://vignette.wikia.nocookie.net/ttte/images/b/b7/ThomasAndStepney5.png/revision/latest?cb=20160929105611";
}

.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
}

.table {
    margin-bottom: 10rem;
}

.container {
    margin-bottom: 90px;
}

